@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

body {
    background: #fff; /* Set background to white */
    font-family: "Open sans", sans-serif;
    margin: 0; /* Remove default body margin */
}

.content-profile-page {
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: .1em solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

.profile-user-page .img-user-profile .profile-bgHome {
    position: relative;
    border-bottom: .2em solid #f5f5f5;
    width: 100%;
    height: 16em;
}

.profile-user-page .img-user-profile .avatar {
    position: absolute;
    top: calc(50% + 0px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 7em;
    height: 7em;
    padding: 0.25em;
    border-radius: .4em;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}

.profile-user-page button {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    width: 7em;
    background: #3498db;
    border: 1px solid #2487c9;
    color: #fff;
    outline: none;
    border-radius: 0 .6em .6em 0;
    padding: .80em;
}

.profile-user-page .user-profile-data,
.profile-user-page .description-profile {
    text-align: center;
    padding: 0 1.5em;
}

.profile-user-page .data-user {
    margin-bottom: 0;
    cursor: pointer;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
}

.profile-user-page .data-user li {
    margin: 0;
    padding: 0;
    width: 33.33334%;
    display: table-cell;
    text-align: center;
    border-left: 0.1em solid transparent;
}

.profile-user-page .data-user li:first-child {
    border-left: 0;
}

.profile-user-page .data-user li:first-child a {
    border-bottom-left-radius: 0.3rem;
}

.profile-user-page .data-user li:last-child a {
    border-bottom-right-radius: 0.3rem;
}

.patients {
    margin: 30px;
}

.patients h1 {
    font-family: 'Yeseva One', cursive;
    display: inline;
}

.search-container {
    float: right;
    padding: 8px;
}

.search-container button {
    border: solid #ddd;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    input[type=text],
    .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    input[type=text] {
        border: 1px solid #ccc;
    }
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

#patients {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    background-color: #fff; /* Set background to white */
}

#patients td,
#patients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#patients tr:nth-child(even) {
    background-color: #f2f2f2;
}

#patients tr:hover {
    background-color: #ddd;
}

#patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 0, 94);
    color: white;
}
