/* :root {
    --blue: #4b0082;
    --box-shadow: .5rem .5rem 0 rgb(22, 160, 133, .2) --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2) --border:.2rem solid #4b0082;


} */

html {
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* doc_search.css */

#heading {
    font-family: 'Yesava One', cursive; /* Primary font */
    font-size: 2.5em;
    color: #100202;
    margin-bottom: 20px;
  }
  
  .search {
    font-family: 'Yesava One', cursive; /* Secondary font for the search input */
  }
  .heading-link {
    text-decoration: none;
    color: #000; /* Default text color for unvisited links */
    border-bottom: 0.01px solid transparent; /* Set underline color to transparent */
  }
  
  /* Add any other existing styles */
  

.ourdoc {
    background-color: #ddf7ff;
    font-family: 'Yeseva One', cursive;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

/* .ourdoc .ourboxcontainer-image{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 2rem;
}

.ourdoc .ourboxcontainer-image.ourbox{
    text-align: center;
    background-color: #FCF8E8;
    border-radius: 5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
} */

/* styles.css */

.container-image {
    background-image: url("../../../public/images/docpic.jpg");
    background-size: cover; /* This will cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    transition: background-size 0.3s ease; /* Add a transition for a smooth effect */
  
    /* Additional styles for the container, adjust as needed */
    width: 100%;
    height: 300px; /* Set the height of your container */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
  }
  
  
  
.ourdoc .docheading {
    margin: 30px;
    color: black;
    text-align: center;

}

.ourdoc .ourboxcontainer-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
    margin: 0 auto;
    /* fix margin */
    max-width: 120rem;
    /* set max-width */
}

.ourdoc .ourboxcontainer-image .ourbox {
    text-align: center;
    background-color: white;

    border-radius: 5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border: 2px solid black;
    /* add border */
    margin: 1rem;
    /* add margin */
}


.ourdoc .ourboxcontainer-image .ourbox img {
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
}

.ourdoc .ourboxcontainer-image .ourbox h3 {
    color: black;
    font-size: 2.5rem;
}

.ourdoc .ourboxcontainer-image .ourbox span {
    color: gray;
    font-size: 1.5rem;
}

.ourdoc .ourboxcontainer-image .ourbox .share {
    padding-top: 2rem;

}

.ourdoc .ourboxcontainer-image .ourbox .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: black;
    border-radius: .5rem;
    border: var(--border);
    margin: 3rem 3rem;

}

.ourdoc .ourboxcontainer-image .ourbox .share a:hover {
    background: black;
    /* color: #ddf7ff; */
    box-shadow: var(--box-shadow);

}


/* doc_search.css */
.link-no-underline {
    text-decoration: none;
}






.container-image {
    display: flex;

    flex-direction: column;
    padding: auto;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container-image::before {
    content: '';
    /* background-image: url("docpic.jpg"); */
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    z-index: -1;
    /* opacity: 0.7; */

}

#heading {
    font-size: 50px;
    text-align: center;
    margin-top: -200px;
    font-family: 'Yeseva One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btn btn-info {
    float: right;
    display: table-cell;
    text-align: right;
    padding: 10px 10px;
    width: 20px;
    width: 100%;
    position: absolute;
    bottom: 416px;
    left: 320px;
    height: 36px;
    text-align: center;
    width: 50%;
    border-radius: 40px;
    padding: 6px 20px 5px 30px;
    overflow: auto;
} */



.footer li a {


    border-radius: 20px;

}

.footer {
    background-color: black;
    color: aliceblue;

    align-items: center;


    color: #FCF8E8;
    display: flex;
    justify-content: space-around;

    width: 100%;
    ;
    flex-wrap: wrap;
    flex-grow: inherit;

}

.footer li a {
    color: grey;
}

.footer h4 {
    color: white;
}

.footer div {
    margin: 10px;
    padding: 20px;

}

.consult {
    margin: 40px;

}



.doctor {
    margin: 40px;


}

#flex {
    display: flex;
    justify-content: space-around;
    /* word-wrap: inherit; */
    margin: 34px;
    position: relative;
    overflow: hidden;
    /* flex-direction: column; */
}

.box{

    background-image: url("https://img.freepik.com/premium-vector/vector-illustration-cardiologist-white-coat-with-heart-his-hands-profession_87693-1659.jpg");
    height: 150px;
    margin: auto;
    padding: 100px;
    background-size: 75%; /* or background-size: 50%; */
    background-repeat: no-repeat;
    
}

#flex .box {
    /* border: 2px solid indigo; */
    text-align: center;
    display: block;
    /* height: 100px; */
    /* display: flex;
    align-items: center; */
    height: 300px;
    margin: auto;
    padding: 20px;
    width: 0;
    /* Start with a width of 0 (hidden) */
    /* height: 100px; */
    /* Adjust height as needed */
    /* background-color: #3498db; */
    /* Background color of the sliding element */
    /* color: #ffffff; */
    /* Text color */
    overflow: hidden;
    /* Hide content that overflows the element */
    white-space: nowrap;
    /* Prevent text from wrapping */
    animation : slideIn 7s ease forwards ;
    /* Apply the 'slideIn' animation with a duration of 1 second, ease timing function, and keep the final state */
}

@keyframes slideIn {
    from {
        width: 0;
        /* Start with a width of 0 (hidden) */
    }

    to {
        width: 100%;
        /* End with a width of 100% (fully visible) */
    }
}

#flex .boxside {
    border: solid white;
    border-width: 10px;
   
    
    background-image: url("https://img.freepik.com/premium-vector/abstract-thin-lines-wavy-illustration-free-shape-temlate-curve-style-artwork-seamless-background_121035-618.jpg");
    text-align: center;
    display: block;

    font-size: large;
    height: 100px;
    margin: auto;
    padding: 20px
}

#flex .box img {
    height: 350px;
    margin: -40px;
    padding: auto;


    display: block;




}

#flexdoc {

    display: flex;
    justify-content: space-around;
    /* word-wrap: inherit; */
    margin: 34px;
    /* flex-direction: column; */
}

.doc {
    /* background-image: url("docmed.jpg"); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* width: 300%; */

    height: 300px;
    margin: auto;
    text-align: center;
}

#flexdoc .boxdoc {
    /* border: 2px solid indigo; */
    text-align: center;
    /* display: block; */
    /* height: 100px; */
    /* display: flex;
    align-items: center; */


    /* position: absolute; */

    /* padding: 20px */
}

#flexdoc .boxsidedoc {

    /* background-image: url("https://img.freepik.com/premium-vector/abstract-thin-lines-wavy-illustration-free-shape-temlate-curve-style-artwork-seamless-background_121035-618.jpg"); */
    text-align: center;
    display: block;

    font-size: large;
    height: 100px;
    margin: auto;
    padding: 20px
}


#flex .boxdoc img {

    padding: auto;

    /*  */
    /* display: block; */

}


.doctor h1 {
    font-family: 'Secular One', sans-serif;
    font-family: 'Yesava One', cursive;

}

.doctor div {
    font-family: 'Secular One', sans-serif;
    font-family: 'Yeseva One', cursive;
}





.consult div {
    font-family: 'Secular One', sans-serif;
    font-family: 'Yeseva One', cursive;

}

.consult h2 {
    text-align: right;
    font-family: 'Secular One', sans-serif;
    font-family: 'Yeseva One', cursive;
}

.consult p {
    text-align: right;
    font-weight: 500;
    font-size: medium;
}




:root {
    --clr-neon: rgba(235, 97, 143, 1);
    --clr-bg: rgba(1, 1, 1, 1);
    --clr-white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
min-height: 100vh;
display: grid;
place-items: center;
background: var(--clr-bg);
font-family: system-ui;
color: var(--clr-neon);
} */

.button {
    font-size: 2em;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #0091cb;
    border: #0091cb 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

    box-shadow: inset 0 0 0.5em 0 #0091cb, 0 0 0.5em 0 #0091cb;

    position: relative;
}

.button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: #0091cb;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
    filter: blur(1.15em);
    opacity: 0.7;

    transition: transform 0.5s linear;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 4em 0.6em #0091cb, 0 0 1em 0.2em var(--clr-white);
    opacity: 0;
    background: #0091cb;
    z-index: -1;
    transition: opacity 0.5s linear;
}

.button:hover,
.button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
    transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
    transition: transform 0.5s linear;
}

.button:hover::after,
.button:focus::after {
    opacity: 1;
}









.reviews {
    padding: 4rem 0;
    background-color: #f5f5f5;
    background-image: url('https://media.istockphoto.com/id/1222074609/photo/heart-shaped-stethoscope.jpg?s=612x612&w=0&k=20&c=vWBZuvI77BZYOVWLC9vL1yCPrEBpNfR9jJtz7O5bVSE=');
    background-repeat: space;
    height: 100px;
    margin: auto;
    padding: 20px
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.review-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.review-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.review-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.review-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.review-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.review-card span {
    font-weight: bold;
    font-size: 1.2rem;
}



.search {
    /* margin-top: 50px; */
    width: 100%;
    position: absolute;
    /* bottom: 416px;
    left: 320px;
    height: 36px; */
    text-align: center;
    width: 50%;
    border-radius: 40px;
    padding: 6px 20px 5px 30px;
    overflow: auto;
    display: flex;


    /* width: 100%; */
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-grow: inherit;
    /* display: flex; */



}

#logo {
    /* padding: 10px; */
    width: 135px;
    float: right;


}

.navbar ul li a {

    display: block;
    /* padding: 3px 22px; */
    border-radius: 20px;

}