/* Add this CSS to your footer.css file or in your existing stylesheet */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer div {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer li {
    list-style: none;
    margin-bottom: 8px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer a:hover svg {
    color: #007bff; /* Change the color to your preferred link hover color */
  }
  
  .footer svg {
    margin-right: 8px;
    color: #ccc;
  }
  