/* header.css */

/* Add your existing styles here */

.navbar {
  background-color: 	#1dadfb;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  max-height: 40px;
}

.navbar-toggler {
  display: none; /* Hide the toggler on larger screens */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navbar-list a {
  text-decoration: none;
  color: rgb(33, 15, 104);
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-list a:hover {
  color: #f5be7b;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navbar-toggler {
      display: block;
  }

  .navbar-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
      z-index: 1;
  }

  .nav-open .navbar-list {
      opacity: 1;
      visibility: visible;
  }

  .navbar-list li {
      width: 100%;
      text-align: center;
  }
}
