.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  border: 1px solid gray;
  padding: 30px;
}
